//@import '~antd/dist/antd.less';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom color for basic design
@menu-color: #343a40;
@menu-color-active: #636363;
@primary-color-bd: #0085fc;

@primary-color: @primary-color-bd;
@menu-dark-bg: @menu-color;
@menu-dark-inline-submenu-bg: @menu-color;
@menu-dark-item-active-bg: @menu-color-active;
@layout-sider-background: @menu-color;
@card-head-background: #f0f1f2;

// Colors
@primary: #4082ff;
@link-hover: #366dd6;
@base-bg: #fafafa;
@hovered-bg: #0000000a;
@component-border: #00000029;
@hovered-border: #00000029;
@disabled-text: #8f8f8f;
@subtle-text: #666666;
@placeholder-text: #666666;
@base-text: #424242;
@component-text: #424242;
@secondary: #666666;
@dark: #424242;
@light: #ebebeb;
@tertiary: #03a9f4;
@scheduler-event-bg: #3596cd;
@secondary-button-hovered-bg: #f5f5f5;
@secondary-button-active-bg: #d8d8d8;
@primary-button-bg: #4082ff;
@primary-button-hovered-bg: #3d7df5;
@primary-button-active-bg: #3872e0;
@primary-button-selected-bg: #3872e0;
@primary-button-border: #4082ff;
@primary-button-hover-border: #4082ff;
@primary-button-active-border: #4082ff;
@button-border: #00000029;
@button-bg-hover: #f5f5f5;
@button-text: #424242;
@error: #f31700;
@info: #0058e9;
@success: #37b400;
@warning: #ffc000;
@series-a: #1274ac;
@series-b: #ffe162;
@series-c: #4cd180;
@series-d: #4b5ffa;
@series-e: #ac58ff;
@series-f: #ff5892;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url(../fonts/Pretendard-Regular.otf) format('otf'), url(../fonts/PretendardVariable.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'pretendard-regular', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}
//
*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
}

.anticon-right {
  font-weight: 100;
  color: #424242;
  margin-left: 5px;
  margin-right: 5px;
}
.selectDropdown {
  margin: 8px 8px 8px 8px;
  .k-checkbox {
    margin: 4px 4px 6px 4px;
  }
}
#resp-table {
  width: 100%;
  display: table;
}
#resp-table-body {
  display: table-row-group;
}
.boder-modal {
  border: 1px solid #cccccc;
}
.border-modal-right {
  border-width: 0px 1px 0px 0px;
  border-color: #cccccc;
  border-style: solid;
}
.border-modal-bottom {
  border-width: 0px 0px 1px 0px;
  border-color: #cccccc;
  border-style: solid;
}
.border-modal-bottom-right {
  border-width: 0px 1px 1px 0px;
  border-color: #cccccc;
  border-style: solid;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.resp-table-row {
  display: table-row;
}
.table-body-cell {
  display: table-cell;
  padding: 8px 8px 4px 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.table-body-cell-title {
  display: table-cell;
  padding: 8px 16px 4px 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
/* Kendo UI */
.layout-container {
  background-color: #ffffff;
}
.k-column-title {
  font-weight: 600 !important;
}
.k-link {
  justify-content: center !important;
}
.k-pager-info {
  display: none !important;
}
.title-header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px 8px 16px;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  gap: 16px;

  .k-appbar-section {
    padding-top: 5px;
    margin-left: 35px;
    margin-right: 35px;
    .k-appbar-separator {
      border-left: 1px solid #f0f0f0;
      height: 100px;
    }
  }
}

.multiSelected {
  .k-animation-container-shown {
    width: 800px !important;
  }
}

.checkbox-container {
  width: 200px;
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 2px 2px 2px 2px;
  .k-checkbox {
    margin: 4px 4px 6px 4px;
  }
}
#inputTextFilter {
  background-color: white !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: 150px;
}
#dropDownList {
  height: 32px;
}
.button-input-filter {
  padding-left: 0px;
  outline: none !important;
  border: 1px solid gray;
  background-color: white !important;
}
.button-dropdown-list {
  min-width: 90px;
  outline: none !important;
  box-shadow: none !important;

  background-color: white !important;
}

#dropDownList:hover {
  background-color: #424242 !important;
  color: white !important;
}
#datePickerMonth {
  height: 30px;
}
.button-render-table {
  height: 32px;
}
.k-checkbox:checked {
  background-color: @primary !important;
  border-color: @primary !important;
}
.k-checkbox:checked:focus {
  box-shadow: 0 0 0 1px #50b7f2 !important;
}
.k-list-item.k-selected {
  background-color: @primary !important;
}

.k-calendar .k-calendar-td.k-selected .k-link {
  background-color: @primary !important;
}

.k-calendar .k-calendar-navigation li:hover,
.k-calendar .k-calendar-navigation li.k-hover {
  color: @link-hover !important;
}

.k-calendar-nav-today {
  color: @primary !important;
}

.k-calendar-caption {
  text-align: center !important;
}

.operation_filter {
  cursor: pointer;
}

.dropdown-template {
  width: 80px;
  height: 20px;
  margin-bottom: 4px;
  .k-dropdownlist {
    height: 20px !important;
  }
}

.grid-checkbox {
  gap: 8px;
  flex-flow: row wrap;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.loader-area {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: @primary;
  gap: 5px;
}

.k-pager-sizes {
  font-size: 0;
}
.k-menu-group .k-item.k-focus > .k-link {
  box-shadow: none !important;
}
.not-found {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// css new version
.divider-filter {
  border-left: 1px solid rgba(189, 195, 199, 0.7);
  height: 52px;
  margin: 8px;
}
.filter-container {
  background-color: #f5f5f5;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px 24px 16px 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(189, 195, 199, 0.7);
}
.operation-container {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  //margin-right: 24px;
  gap: 8px;
}
.border-style {
  border: 1px solid rgba(189, 195, 199, 0.5) !important;
  border-radius: 4px !important;
  .border-style:hover {
    border: 1px solid rgba(189, 195, 199);
    border-radius: 4px;
  }
  .border-style:active {
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
.border-style-button {
  border-radius: 4px;
  border-right: 1px solid #1f3733;
  border-bottom: 1px solid #1f3733;
  .border-style:hover {
    border: 1px solid rgba(189, 195, 199);
    border-radius: 4px;
  }
  .border-style:active {
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
.border-picker {
  border: none !important;
}

// override
//.k-picker {
//  border-width: 0 !important;
//}

.k-grid-header {
  border-top: 3px solid #4d4d4d !important;
  border-bottom: 1px solid #4d4d4d !important;
}
.k-height-container {
  height: 0 !important;
}

.k-grid .k-table-row.k-selected td,
.k-grid .k-table-td.k-selected {
  background-color: #4082ff40;
}

.k-grid .k-selected .k-grid-content-sticky {
  background-color: #abc5fb !important;
}

.k-grid .k-grid-header .k-table-th {
  vertical-align: inherit !important;
  height: 40px;
}

.k-icon.hidden-icon {
  display: none;
}

.k-button-flat-primary {
  color: @primary !important;
}

.border-grid-aggregate {
  border: 2px solid #4d4d4d;
  width: 60%;
}
.export-button {
  background-color: white !important;
  border: 0px !important;
}
// Modal Custom Checkbox Col
#modal-custom tr {
  border: 1px solid #e1e1e1;
}

#modal-custom .first-td {
  border: 1px solid #e1e1e1;
}

#modal-custom .first-child-td {
  border: 1px solid #e1e1e1;
}

#body-modal-custom {
  border: 1px solid #4d4d4d;
}

#modal-custom {
  background-color: #ffffff;
}

#modal-custom td {
  padding: 10px 20px;
  min-width: 100px;
}

#custom-grid-data .k-grid-table-wrap > .k-table.k-grid-table,
#custom-grid-data .k-grid-header-wrap > .k-table.k-grid-header-table {
  width: 100% !important;
}

// Menu filter table
.menu-filter-table.k-menu:not(.k-context-menu) > .k-item,
.menu-filter-table.k-menu:not(.k-context-menu) > .k-item:hover {
  color: #424242;
}

.menu-filter-table .k-menu-group .k-item > .k-link:active {
  background-color: #4082ff;
}

.menu-filter-table.k-menu:not(.k-context-menu) > .k-item[aria-expanded='true'] {
  background-color: #4082ff;
  color: #ffffff;
}

.k-menu-group .k-item > .k-link:has(.k-menu-text-checkbox-filter):active {
  background-color: #4082ff;
}

.k-menu-group-md .k-menu-link:not(:has(span)) {
  padding-block: 0 !important;
}
.k-menu-group-md .k-menu-link,
.k-menu-vertical > .k-menu-item > .k-menu-link {
  padding-block: 5px !important;
}

.image-login {
  background: linear-gradient(
      18deg,
      rgba(9, 49, 228, 0.8) 1.17%,
      rgba(137, 150, 226, 0.8) 50.71%,
      rgba(248, 121, 86, 0.8) 99.24%
    ),
    url('../image/login_img.jpg') no-repeat left top;
  background-size: cover;
}

.login-title {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
  transform: translateY(-50%);
}

.custom-input-login {
  position: relative;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #cccccc !important;
  transition: all ease-in-out 0.3s;
  padding: 10px 0 !important;
  color: #0e21a0 !important;
  font-weight: 700 !important;
}

.custom-input-login:focus {
  box-shadow: none !important;
  border-bottom-color: #0e21a0 !important;
}

.custom-input-login::placeholder {
  font-weight: 400 !important;
}
span .k-progress-status {
  display: none;
}

.k-dropdownlist > .k-button,
.k-combobox > .k-button {
  display: none;
}
.k-pager-sizes > .k-dropdownlist > .k-button,
.k-combobox > .k-button {
  display: block !important;
}
.index-grid {
  text-align: center !important;
}
span.k-combobox > .k-clear-value {
  display: none;
}
span.k-combobox > button.k-button {
  display: none !important;
}
// .k-upload-files .k-upload-actions,
.k-upload-files .k-progressbar {
  display: none !important;
}
.dropdown-list-custom {
  background-color: white !important;
}
.k-grid-container:hover {
  cursor: pointer;
}
.dropdown-list-custom:hover {
  background-color: white !important;
  color: white !important;
}
.k-input {
  border-color: #d3d3d3 !important;
}
.circle-progress {
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 10vh;
}
.circle-progress .h3 {
  font-size: small;
}
.sync-area {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
  gap: 16px;
  align-items: flex-end;
  flex-grow: 1;
  overflow: unset;
}
.sync-input-area {
  width: unset;
  min-width: 350px !important;
  overflow: unset !important;
  text-overflow: unset;
  height: 32px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  background-color: white;
}
.k-table-th.k-header.k-grid-header-sticky:has(.k-checkbox) {
  margin: auto;
  padding-left: 22px;
}

.k-table-tbody {
  > .k-table-row:not(.k-detail-row) {
    .cell-merged {
      background-color: #ffffff;
    }
    &:hover .cell-merged {
      background-color: #ededed !important;
    }
    &.k-selected {
      td,
      td.cell-merged,
      &:hover .cell-merged {
        background-color: #4082ff40 !important;
      }
      td.k-grid-content-sticky,
      td.cell-merged.k-grid-content-sticky {
        background-color: #A6C0F5 !important;
      }
    }
    &.row-clicked {
      &.k-selected {
        td,
        td.cell-merged,
        td.k-grid-content-sticky {
          background-color: #dcefcd !important;
        }
      }
      &:hover td {
        background-color: #dcefcd !important;
      }
    }
  }
}

.k-grid .row-clicked td,
.k-grid .row-clicked .k-grid-content-sticky,
.k-grid .row-clicked.k-selected,
.k-grid .row-clicked:hover td {
  background-color: #dcefcd !important;
}

//.styled-grid .k-grid-content-sticky {
//  padding: 8px 21px;
//}
@media screen and (max-width: 1800px) {
  .sync-area {
    display: flex;
    justify-content: flex-start;
    margin-right: 16px;
    margin-left: auto;
    gap: 16px;
    align-items: flex-end;
  }
  .form-field-group {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: flex-end;
  }
}
.k-grid-content-sticky{
  align-items: center !important;
}
.k-detail-cell {
  padding-left: 34px !important;
  padding-top: 8px !important;
  padding-right: 0 !important;
}
.grid-component-details{
  height: auto !important;
}
// .my-first-reorder-grid{
//   .k-grid-pager {
//     display: none;
//   }
// }
.detail-list-grid {
  .k-grid-content {
    overflow-x: hidden;
  }
  .k-grid-pager {
    display: none;
  }
}
.k-detail-row {
  .k-hierarchy-cell{
    background-color: white;
    position: sticky;
    left: 0px;
    right: 60px;
    z-index: 1000;
  }
}

.table-lcc-calc,
.dkm-grid-home
{
  tbody tr:first-child td:nth-child(1),
  tbody tr:first-child td:nth-child(2) {
  display: none !important;
  }
}

.table-lcc-bill,
.table-BSPDSR,
.table-domestic-aff {
  tbody tr:first-child td:nth-child(1) {
    display: none !important;
  }
}

.detail-list-grid {
  tbody tr:first-child td:nth-child(1),
  tbody tr:first-child td:nth-child(2) {
  display: table-cell !important ;
  }
}
.aff-management-modal .k-grid-pager,
.aff-summary .k-grid-pager {
  display: none !important;
}
.aff-summary {
  width: 85%
}
