fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-dotenv
sqlalchemy
pydantic
pymysql
cryptography
debugpy
python-jose[cryptography]
passlib[bcrypt]
email-validator
requests
google-auth
langchain>=0.2.0
langchain-google-genai>=1.0.3
langchain-community 
mysql-connector-python


